* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    color: rgb(0, 158, 158);
}

.square {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: aqua;
    display: inline-block;
    border-radius: 7px;
}

.square:hover {
    scale: 1.1;
    transition: .2s;
    background-color: rgb(0, 235, 235);
}

.o,
.x {
    position: relative;
}

.o:after,
.x:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    line-height: 100px;
}

.o:after {
    content: "\2B55";
}

.x:after {
    content: "\274C";
}

#reset_btn {
    padding: 15px 80px;
    margin-top: 20px;
    border: none;
    background-color: rgb(0, 158, 158);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    letter-spacing: 1px;
}

#reset_btn:hover {
    background-color: rgb(0, 97, 97);
    transition: .3s;
}